/* You can add global styles to this file, and also import other style files */
:root{
   --bg-color: black;
   --text-color: white;
  }

  * {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  [data-theme="dark"]{
    --bg-color: white;
    --text-color: black;
  }

